<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title>Dashboard</title>

	<style>
		#video-container {
			margin: 2em auto 0;
			width: 500px;
			padding: 2em;
			background: white;
		}

		#permissionBtn {
			left: 5em;
		}
	</style>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
	<base href="/">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	    crossorigin="anonymous"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen"></link>
	<style>
		h1{
		text-align:center
		}
	</style>
</head>

<body>
	<div id="main-container" class="container">

		<div th:if="${meetingNotStartedByHost}">
			<h1>meeting not started by host</h1>
		</div>

		<div th:if="${noRoom}">
			<h1>no such room exists</h1>
		</div>
		<div th:if="${error}">
			<h1>[[${error}]]</h1>
		</div>

		<div th:if="${left}">
			<h1>you left meeting</h1>
		</div>

		<form action="/user-dashboard">
			<button id="dashboard-btn" class="btn btn-warning" type="submit">User Dashboard</button>
		</form>

		<div id="logged">
			<div id="join" class="vertical-center">
				<div><h1>WhereBy</h1></div>
				<div id="join-dialog" class="jumbotron">
					<h1>Join a video session</h1>
					<form class="form-group" th:action="@{/session}" method="post">
						<input type="hidden" id="audioEnabled" name="audioEnabled">
						<input type="hidden" id="videoEnabled" name="videoEnabled">

						<p>
							<label>Participant</label>
							<input id="nickname" class="form-control" type="text" name="data" required="true" placeholder="enter display name here..."></input>
						</p>
						<p>
							<label>Session</label>
							<input id="sessionname"class="form-control" type="text" name="session-name" required="true" placeholder="enter room here..." th:value="${guest!=null}?${guest}" th:readonly="${guest!=null}?true:false"></input>
						</p>
						<p class="text-center">
							<button class="btn btn-lg btn-success" type="submit" id="joinBtn">Join!</button>
						</p>
					</form>

					<button id="permissionBtn" class="btn btn-lg btn-info">Request Permission</button>

					<div id="video-container">
						<video id="camera-stream" width="500" autoplay>
						</video>
					</div>

					<button id="audioToggle">Toggle Audio</button>
					<button id="videoToggle">Toggle Video</button>

					<hr></hr>
					<div th:if="${username!='anonymousUser'}">
						<div th:if="${guest==null}" id="login-info">
							<div>Logged as <span th:text="${username}" id="name-user"></span></div>
							<form action="/logout">
								<button id="logout-btn" class="btn btn-warning" type="submit">Log out</button>
							</form>
						</div>
					</div>
					<div th:unless="${username!='anonymousUser'}">
						<form action="/login" method="post">
							<button id="login-btn" class="btn btn-warning" type="submit">Log in</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	let constraints = '';
	let audioEnabled = false;
	let videoEnabled = false;

	navigator.allMediaStreams = [];

	document.getElementById("permissionBtn").addEventListener("click", () => {
		 constraints = {
			audio: true,
			video: true
		};

		const video = document.getElementById('camera-stream');

		navigator.mediaDevices.getUserMedia(constraints)
		.then((stream) => {
			video.srcObject = stream;
			navigator.allMediaStreams.push(stream);
		});
	})

	document.getElementById("audioToggle").addEventListener("click", () => {
		navigator.allMediaStreams.forEach((stream) => {
			stream.getAudioTracks()[0].enabled = !stream.getAudioTracks()[0].enabled;
			console.log(stream.getAudioTracks()[0].enabled)
			document.getElementById("audioEnabled").value = stream.getAudioTracks()[0].enabled;
		})
	})

	document.getElementById("videoToggle").addEventListener("click", () => {
		navigator.allMediaStreams.forEach((stream) => {
			stream.getVideoTracks()[0].enabled = !stream.getVideoTracks()[0].enabled;
			console.log(stream.getVideoTracks()[0].enabled)
			document.getElementById("videoEnabled").value = stream.getVideoTracks()[0].enabled;
		})
	})
</script>

</html>