<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${sessionName}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
    <base href="/">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

    <link rel="stylesheet" href="customStyle.css"></link>
    <script src="openvidu-browser-2.15.0.js"></script>

    <style>
		#emojis-div {
			display: grid;
			grid-template-rows: 50% 50%;
			border: 1px solid white;
<!--			width: 50px;-->
<!--			height: 30px;-->
			background-color: lightgrey;
			border-radius: 8px;
			padding: 3px;
			position: absolute;
            width: 276px;
            top: 75%;
            height: 10%;
		}

		.emojis {
			font-size: 1.3rem;
			background-color: white;
			border: 1px solid white;
			outline: none;
		}

		.emojis:hover {
			cursor: pointer;
			border: 1px solid white;
			background-color: beige;
			border-radius: 3px;
		}

		video{
			width:200px;
		}

		.footerBtnsDiv {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-column-gap: 2em;
		}

		.footerBtnDiv {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.footerBtn {
			border-radius: 1em;
			width: 4em;
			outline: none;
		}

		.footerBtn:hover {
			cursor: pointer;
		}

		.footerImgs {
			width: 2em;
			height: 3em;
		}
		#meetingLink{
		    height: 100%;
            font-size: 1.1rem;
            width: 100%;
            outline: none;
            border: none;
            cursor:pointer;
		}
    </style>
</head>

<body>


<div class="container colsWithChat">

    <div id="main" class="mainWithChat">

        <div class="header">
            <div class="room-statusbar-container">
                <div class="room-logo">
                    <a href="/">
                        <div class="logo-wrapper">
                            <img class="logo-img" src="images/whereby-logo.png" alt="Whereby"/>
                        </div>
                    </a>
                </div>
                <button type="button" name="button" class="room-statusbar-button">
                    <div class="room-statusbar">
                        <div class="room-name-wrapper">
                            <span class="room-name" th:text="${sessionName}"></span>
                        </div>
                        <div class="lock-wrapper">
                            <i th:if="${locked==true}" class="fa fa-lock" style="font-size:3.5vh;color:white"></i>
                            <i th:unless="${locked==true}" class="fa fa-unlock" style="font-size:3.5vh;color:white"></i>
                            </svg>
                        </div>
                        <div class="participant-icon-wrapper">
                            <div class="participant-counter">
                                0
                            </div>
                            <i class="fa fa-group" style="font-size:3.5vh;color:white"></i>
                        </div>
                    </div>
                </button>
				<div id="timer" hidden>
					<label id="hours">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label>
				</div>
            </div>
            <div>
                <form th:action="@{/editProfile}" method="get">
                    <input type="hidden" name="userId" th:value="${currentUserId}">
                    <input th:if="${session.googleLoggedUser == null}" type="submit" value="Edit profile">
                </form>
            </div>
            <div class="room-extras">
                <button type="button" class="room-pip-button" name="pip">
                    <div class="room-pip">
                        <i class="fa fa-external-link" style="font-size:3.5vh;color:white"></i>
                    </div>
                </button>
                <button type="button" class="room-setting-button" name="setting" onclick="openInNewTab('https://ec2-13-232-118-235.ap-south-1.compute.amazonaws.com/openvidu');">
                    <div class="room-setting">
                        <i class="fa fa-gear" style="font-size:3.5vh;color:white"></i>
                    </div>
                </button>
                <div class="room-more-wrapper">
                    <button type="button" class="room-more-button" name="more" onclick="showTimer()">
                        <div class="room-more">
                            <i class="fa fa-clock-o" style="font-size:3.5vh;color:white"></i>
                        </div>
                    </button>
                </div>
                <div class="avatar-wrapper">
                    <button type="button" class="avatar-button" name="profile" onclick="profileToggle()">
                        <div class="avatar-square">
                            <svg class="initials" viewBox="-4 -4 8 8" width="3vh" height="3.5vh">
                                <text x="0" y="0" text-anchor="middle" dominant-baseline="central"
                                      font-size="2vh"
                                      th:text="${#strings.toUpperCase(#strings.substring(userName,0,1))}"></text>
                            </svg>
                        </div>
                    </button>
                    <div id="profileDropdown" class="dropdown-content" hidden>
                        <div class="menu">
                            <button type="button" name="changeName" class="">
                                <div class="">
                                    Set display name
                                </div>
                            </button>
                            <div class="menu-divider"></div>
                            <button type="button" name="logout">
                                <div class="">
                                    Log out
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-container" class="videoContainer">
            <div class="oneVideo" id="main-video">
                <p class="nickName"></p>
                <p class="userName"></p>
                <video autoplay="autoplay" playsinline="true"></video>
            </div>
            <div id="video-container" class="allVideo"></div>
        </div>

        <div class="footer">
            <div class="footerBtnsDiv">
                <div class="footerBtnDiv">
                    <button type="button" id="camBtn" class="footerBtn"><img src="footer/video-camera.svg"
                                                                             class="footerImgs"
                                                                             onclick="footerVideoToggle()"></button>
                    <label for="camBtn">Cam</label>
                </div>

                <div class="footerBtnDiv">
                    <button type="button" id="micBtn" class="footerBtn"><img src="footer/mic.svg" class="footerImgs"
                                                                             onclick="footerAudioToggle()"></button>
                    <label for="micBtn">Mic</label>
                </div>

                <div class="footerBtnDiv">
                    <button type="button" id="shareBtn" class="footerBtn"><img src="footer/computer.svg"
                                                                               class="footerImgs"
                                                                               onclick="footerScreenToggle()"></button>
                    <label for="shareBtn">Share</label>
                </div>

                <div class="footerBtnDiv">
                    <button type="button" id="chatBtn" class="footerBtn"><img src="footer/communication.svg"
                                                                              class="footerImgs"
                                                                              onclick="footerChatToggle()"></button>
                    <label for="chatBtn">Chat</label>
                </div>

                <div class="footerBtnDiv">
                    <button type="button" id="peopleBtn" class="footerBtn"><img src="footer/group.svg"
                                                                                class="footerImgs"
                                                                                onclick="footerPeopleToggle()"></button>
                    <label for="peopleBtn">People</label>
                </div>

                <form id="leaveForm" th:action="@{/leaveSession}">
                    <input type="hidden" name="session-name" th:value="${sessionName}"></input>
                    <input type="hidden" name="token" th:value="${token}"></input>
                    <input type="hidden" name="userName" th:value="${userName}"></input>
                    <div class="footerBtnDiv">
                        <button type="submit" id="leaveBtn" class="footerBtn"><img src="footer/finger.svg"
                                                                                   class="footerImgs"></button>
                        <label for="leaveBtn">Leave</label>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="chat">
        <div class="chatHeader">
            <div class="buttonContainer">
                <button onclick="showMembers()" id="memberListButton">members</button>
                <button class="clickChatHeaderButton" onclick="showChat()" id="chatButton">chat</button>
                <button onclick="toggleChat()">[X]</button>
            </div>
        </div>
        <div id="members" class="memberList" hidden>

            <div class="memberListContent">

                <div th:if="${owner}">
                    <h3>Share the link to add more people</h3>
                </div>
                <div th:if="${owner}">
                    <h6>Click on the link to copy to clipboard</h6>
                </div>
                <div th:if="${owner}">
                    <input id="meetingLink" type="text" value="">
                </div>

                <div th:if="${owner}">
                    <p>In the room</p>
                    <div>
                        <span class="subUnsubBtn">....</span>
                        <div class="subUnsubOptns">
                            <div id="xx">Turn all cams off</div>
                            <div id="yy">Turn all cams on</div>
                            <div id="muteAll">Turn all mics on/off</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="messageBox" class="chatMessageContainer">

            <!--			chat messsages-->

        </div>
        <div id="msgForm" class="chatFooter" style="padding: 0;">
            <form id="messengerForm" style="height: 100%;">
                <div id="toggleEmoji" hidden=true >
                    <div id="emojis-div">
                        <div class="emoji-div-1">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('hand-raise'))" id="hand-raise"
                                   value="✋">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('thumbs-up'))" id="thumbs-up"
                                   value="👍">👍
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('thumbs-down'))" id="thumbs-down"
                                   value="👎">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('claps'))" id="claps" value="👏">👏
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('wave'))" id="wave" value="👋">👋
                        </div>

                        <div class="emoji-div-2">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('party-popper'))" id="party-popper"
                                   value="🎉">🎉
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('love'))" id="love" value="😍">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('shock'))" id="shock" value="😯">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('thinking'))" id="thinking"
                                   value="🤔">
                            <input type="button" class="emojis"
                                   onclick="addEmojiToChat(document.getElementById('laugh'))" id="laugh" value="😂">
                        </div>
                    </div>
                </div>
                <div class="emojiBtnDiv inputContianer">
                    <input type="button" id="show-emojis" onclick="showHideEmojis()" value="emojis">
                    <input type="text" placeholder="Send a chat message..." name="msg">
                    <button type="submit">send</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script  th:inline="javascript" id="serverData">
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickName = [[${ nickName }]];
	var userName = [[${ userName }]];
	var startTime = [[${ startTime }]];
	var audioEnabled = [[${ audioEnabled }]];
    var videoEnabled = [[${ videoEnabled }]];
    var owner = [[${owner}]]
</script>
<script type="module" th:src="@{js/audioVideo.js}"></script>
</html>
