<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title>openvidu-mvc-java</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="styleSheet" href="style.css" type="text/css" media="screen"></link>
	<script src="openvidu-browser-2.15.0.js"></script>

	<style>
		body {
			background-color: #2d4f3d;
		}

		#emojis-div {
			display: grid;
			grid-template-rows: 50% 50%;
			border: 1px solid white;
			width: 17.7em;
			height: 6em;
			background-color: white;
			border-radius: 8px;
			margin-left: 10em;
			padding: 5px;
		}

		.emojiBtnDiv {
			margin-left: 10em;
		}

		.emojis {
			font-size: 30px;
			background-color: white;
			border: 1px solid white;
			outline: none;
		}
		.emojis:hover {
			cursor: pointer;
			border: 1px solid white;
			background-color: beige;
			border-radius: 3px;
		}
	</style>
</head>

<body>

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img class="demo-logo" src="images/openvidu_vert_white_bg_trans_cropped.png"/> MVC Java</a>
			<a class="navbar-brand nav-icon"
			   href="https://github.com/OpenVidu/openvidu-tutorials/tree/master/openvidu-mvc-java"
			   title="GitHub Repository"
			   target="_blank">
				<i class="fa fa-github" aria-hidden="true"></i>
			</a>
			<a class="navbar-brand nav-icon" href="http://www.docs.openvidu.io/en/stable/tutorials/openvidu-mvc-java/"
			   title="Documentation" target="_blank">
				<i class="fa fa-book" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</nav>


<div class="container">
	<div class="row justify-content-center">
		<div id="xx" class="btn btn-danger">turn off video</div>
		<div id="yy" class="btn btn-success">turn on video</div>
		<div>
			<button id="buttonShare" class="btn btn-danger" onclick="shareScreen()">Share Screen</button>
		</div>
		<div class="meeting-controls">
			<button class="control-btns" id="muteMyselfBtn" onclick="muteMyself()">Mute/Unmute Myself</button><br>
			<button class="control-btns" id="muteAllBtn" onclick="muteAll()">Mute/Unmute All</button><br>
			Audio status: <input type="text" disabled id="audioStatus" value="Audio unmuted"><br><br>
		</div>
		<div id="start-share" hidden class="btn btn-danger">screen sharing started</div>
		<div id="stop-share" hidden class="btn btn-danger">screen sharing stoped</div>
	</div>
</div>

<div id="main-container" class="container">
	<div id="logged">
		<div id="session">
			<div id="session-header">
				<h1 th:text="${sessionName}" id="session-title"></h1>
				<form action="/leave-session" method="post">
					<input type="hidden" name="session-name" th:value="${sessionName}"></input>
					<input type="hidden" name="token" th:value="${token}"></input>
					<button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit"
							onclick="leaveSession()">
						Leave session
					</button>
				</form>
			</div>
			<div id="main-video" class="col-md-6">
				<p class="nickName"></p>
				<p class="userName"></p>
				<video autoplay="autoplay" playsinline="true"></video>
			</div>
			<div id="video-container" class="col-md-6"></div>
		</div>
	</div>
</div>



<div class="conatiner">
	<div class="row justify-content-center">
		<div id="pannel" class="col-6 d-flex flex-column justify-content-start align-items-center">

		</div>
	</div>
</div>

<div style="height:100px"></div>
<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <div class="text-muted">OpenVidu © 2017</div>-->
<!--        <a href="http://www.openvidu.io/" target="_blank">-->
<!--            <img class="openvidu-logo" src="images/openvidu_globe_bg_transp_cropped.png"/>-->
<!--        </a>-->
<!--    </div>-->
<!--</footer>-->

<div class="container-fluid">
	<div class="row justify-content-end">
		<div id="messenger" class="col-12 col-sm-5 col-md-3 col-lg-3 messenger" style="padding: 0;">
			<div id="options" class="col-12 options">

			</div>
			<div id="messageBox" class="col-12 messageBox">

			</div>
			<div id="msgForm" class="msgform col-12" style="padding: 0;">
				<form id="messengerForm" action="/" style="height: 100%;">
					<div class="input-group" style="height: 100%;">
						<div id="emojis-div" style="visibility: hidden">
							<div class="emoji-div-1">
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('hand-raise'))" id="hand-raise" value="✋">✋</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('thumbs-up'))" id="thumbs-up" value="👍">👍</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('thumbs-down'))" id="thumbs-down" value="👎">👎</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('claps'))" id="claps" value="👏">👏</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('wave'))" id="wave" value="👋">👋</button>
							</div>

							<div class="emoji-div-2">
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('party-popper'))" id="party-popper" value="🎉">🎉</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('love'))" id="love" value="😍">😍</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('shock'))" id="shock" value="😯">😯</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('thinking'))" id="thinking" value="🤔">🤔</button>
								<button class="emojis" onclick="addEmojiToChat(document.getElementById('laugh'))" id="laugh" value="😂">😂</button>
							</div>
						</div>

						<div class="input-group-prepend emojiBtnDiv">
							<button id="show-emojis" onclick="showHideEmojis()">emojis</button>
						</div>

						<input type="text" id="chat-message" class="form-control" placeholder="Send a chat message..." aria-label=""
								  aria-describedby="basic-addon1" name="msg">

						<div class="input-group-prepend">
							<button class="btn btn-outline-secondary" type="submit">send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


</body>

<script th:inline="javascript">

	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickName = [[${ nickName }]];
	var userName = [[${ userName }]];
	var myAudioEnabled = true;
	var allAudioEnabled = true;
	var publisher = '';
	var subscriber = '';
	var showEmoji = true;

	const ov = new OpenVidu();
	let session = ov.initSession();

	session.connect(token,{clientData:nickName})
			.then(()=>{
				$("#session-title").text(sessionName);
				$("#join").hide();
				$("#session").show();
				publisher = ov.initPublisher("video-container",{
					videoSource:undefined,
					audioSource:undefined,
					publishAudio:myAudioEnabled,
					publishVideo:true,
					resolution:'640x480',
					framRate:30,
					insertMode:'APPEND',
					mirror:true
				})
				publisher.on("videoElementCreated",(event)=>{
					addPannel(document.getElementById("pannel"),publisher.stream);

					// Init the main video with ours and append our data
					var userData = {
						nickName: nickName,
						userName: userName
					};
					initMainVideo(event.element, userData);
					appendUserData(event.element, userData);
				})
				session.publish(publisher);
			})
			.catch()

	/** audio logic starts **/
	function muteMyself() {
		myAudioEnabled = !myAudioEnabled;
		if(myAudioEnabled != allAudioEnabled) {
			allAudioEnabled = !allAudioEnabled;
		}

		publisher.publishAudio(myAudioEnabled);

		var audioStatus = document.getElementById('audioStatus');
		if(myAudioEnabled == true) {
			audioStatus.value = "Audio unmuted";
		} else {
			audioStatus.value = "Audio muted";
		}
	}

	function muteAll() {
		const signal = {
			type:"muteAll",
			to:[]
		}
		session.streamManagers.forEach(member=>{
			if(member.stream.connection.connectionId !== session.connection.connectionId){
				signal.to.push(member.stream.connection);
			}
		})
		session.signal(signal);
	}

	session.on("signal:muteAll",(event)=>{
		allAudioEnabled = !allAudioEnabled;
		if(allAudioEnabled != myAudioEnabled) {
			myAudioEnabled = !myAudioEnabled;
		}

		publisher.publishAudio(allAudioEnabled);

		var audioStatus = document.getElementById('audioStatus');
		if(allAudioEnabled == true) {
			audioStatus.value = "Audio unmuted";
		} else {
			audioStatus.value = "Audio muted";
		}
	});
	/** audio logic ends **/


	/** emoji logic start**/
	function addEmojiToChat(elem) {
		document.getElementById("chat-message").value += elem.value;
	}

	function showHideEmojis() {
		showEmoji = !showEmoji;

		let emojis = document.getElementsByClassName("emojis");

		if(showEmoji == true) {
			document.getElementById("emojis-div").style.visibility = 'hidden';
		} else {
			document.getElementById("emojis-div").style.visibility = 'visible';
		}
	}
	/** emoji logic end**/

	session.on("streamCreated",(event)=>{
		let subscriber = session.subscribe(event.stream,"video-container");
		subscriber.on("videoElementCreated",(subEvent)=>{
			addPannel(document.getElementById("pannel"),event.stream);
			// Add a new HTML element for the user's name and nickname over its video
			appendUserData(subEvent.element, subscriber.stream.connection);
		})
	});

	session.on("streamDestroyed",(event)=>{
		console.log("stream destroyed.....")
		document.getElementById("pannel").querySelector("#"+event.stream.connection.connectionId+"-1").closest("div").remove();
		// Delete the HTML element with the user's name and nickname
		removeUserData(event.stream.connection);
	});

	function leaveSession() {
		session.disconnect();
	}

	/** making video clickable and init main screen starts **/
	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		if (connection.nickName) { // Appending local video data
			clientData = connection.nickName;
			// serverData = connection.userName;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			// serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		dataNode.innerHTML = '<p class="nickName">' + clientData + '</p>';
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeUserData(connection) {
		var userNameRemoved = $("#data-" + connection.connectionId);
		if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickName').html(clientData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickName').html(userData.nickName);
		$('#main-video video').prop('muted', true);
	}
	/** making video clickable and init main screen stops **/

	/** video on/off logic starts **/
	document.getElementById("xx").addEventListener("click",(e)=>{
		const signal = {
			type:"turnOffVideo",
			to:[]
		}
		session.streamManagers.forEach(member=>{
			if(member.stream.connection.connectionId !== session.connection.connectionId){
				signal.to.push(member.stream.connection);
			}
		})
		session.signal(signal)
	});

	document.getElementById("yy").addEventListener("click",(e)=>{
		const signal = {
			type:"turnOnVideo",
			to:[]
		}
		session.streamManagers.forEach(member=>{
			if(member.stream.connection.connectionId !== session.connection.connectionId){
				signal.to.push(member.stream.connection);
			}
		})
		session.signal(signal)
	});

	session.on("signal:turnOffVideo",()=>{
		publisher.publishVideo(false);
	});

	session.on("signal:turnOnVideo",()=>{
		if(! publisher.stream.videoActive){
			if(confirm("turn camera on")){
				publisher.publishVideo(true);
			}
		}
	});

	function addPannel(container,stream){
		const div = createElements("div","d-flex w-100 justify-content-around p-1 my-2");
		const h4 = createElements("h3",null,JSON.parse(stream.connection.data.split("%/%")[0]).clientData);
		const buttonOff = createElements("button","btn btn-danger","Video off");
		const buttonOn = createElements("button","btn btn-success","Video On");
		const buttonSub = createElements("button","btn btn-success","Subscribe to Video toggle");
		buttonOff.id = stream.connection.connectionId+"-"+1;
		buttonOn.id = stream.connection.connectionId+"-"+2;
		buttonSub.id = stream.connection.connectionId+"-"+3;
		div.append(h4);
		div.append(buttonOff);
		div.append(buttonOn);
		div.append(buttonSub);
		container.append(div);
		buttonOff.addEventListener("click",(e)=>turnOffVideo(e))
		buttonOn.addEventListener("click",(e)=>turnOnVideo(e))
		buttonSub.addEventListener("click",(e)=>toggleSubscriber(e))
	}

	function createElements(type,css=null,content=null){
		const ele = document.createElement(type);
		if(css!=null) ele.className = css;
		if(content!=null) ele.innerText = content;
		return ele;
	}

	function turnOffVideo(e){
		const signal = {
			type:"turnOffVideo",
			to:[]
		}
		const id = e.target.id.split("-")[0]
		console.log(id)
		signal.to.push(session.streamManagers.find(member=>member.stream.connection.connectionId === id).stream.connection)
		session.signal(signal);
	}

	function turnOnVideo(e){
		const signal = {
			type:"turnOnVideo",
			to:[]
		}
		const id = e.target.id.split("-")[0]
		console.log(id)
		signal.to.push(session.streamManagers.find(member=>member.stream.connection.connectionId == id).stream.connection)
		session.signal(signal);
	}

	function toggleSubscriber(e){
		let id = e.target.id.split("-")[0];
		console.log(id);
		let subscriber = session.streamManagers.find(member=>member.stream.connection.connectionId === id)
		console.log(subscriber);
		if("subscribeToAudio" in subscriber.properties){
			subscriber.subscribeToVideo(! subscriber.stream.videoActive)
		}else if("publishVideo" in subscriber.properties){
			subscriber.publishVideo(! subscriber.stream.videoActive)
		}
	}
	/** video on/off logic ends **/

	/** screen share logic starts **/
	function shareScreen() {
		publisher = ov.initPublisher("video-container", {
			audioSource: undefined, // The source of audio. If undefined default microphone
			videoSource: "screen",
			publishAudio: myAudioEnabled, // Whether you want to start publishing with your audio unmuted or not
			publishVideo: true, // Whether you want to start publishing with your video enabled or not
			resolution: '640x480', // The resolution of your video
			frameRate: 30, // The frame rate of your video
			insertMode: 'APPEND', // How the video is inserted in the target element 'video-container'
			mirror: false // Whether to mirror your local video or not
		});

		publisher.on('videoElementCreated', (event) => {
			// Init the main video with this user's data
			var userData = {
				nickName: nickName,
				userName: userName
			};
			initMainVideo(event.element, userData);
			appendUserData(event.element, userData);
			$(event.element).prop('muted', true); // Mute local video
		});

		publisher.once('accessAllowed', (event) => {
			publisher.stream.getMediaStream().getVideoTracks()[0].addEventListener('ended', () => {
				console.log('User pressed the "Stop sharing" button');
				backToOldScreen(publisher);
			});

			// Unpublishing the old publisher (sharing camera)
			session.unpublish(session.openvidu.publishers[0]);
			// publishing the new publisher (sharing screen)
			session.publish(publisher);

			// sending signal to subscribers regarding screen share started
			session.signal({
				// data: session.openvidu.publishers[0].videos[0].video,
				data: nickName, // notifying everyone that who shared
				to: [], // Broadcast to everyone
				type: 'start-screenshare' // The type of message (optional)
			}).then(() => {
				console.log('Notified successfully sent');
			}).catch(error => {
				console.error(error);
			});

		});

		publisher.once('accessDenied', (event) => {
			console.warn('ScreenShare: Access Denied');
		});
	}

	function backToOldScreen(oldPublisher){
		publisher = ov.initPublisher('video-container', {
			videoSource:undefined,
			audioSource:undefined,
			publishAudio:myAudioEnabled,
			publishVideo:true,
			resolution:'640x480',
			framRate:30,
			insertMode:'APPEND',
			mirror:true
		});

		publisher.on('videoElementCreated', (event) => {
			// Init the main video with ours and append our data
			var userData = {
				nickName: nickName,
				userName: userName
			};
			initMainVideo(event.element, userData);
			appendUserData(event.element, userData);
			$(event.element).prop('muted', true); // Mute local video
		});

		// Unpublishing the old publisher (sharing screen)
		session.unpublish(oldPublisher);
		// publishing the new publisher (sharing camera)
		session.publish(publisher);

		// sending signal to subscribers regarding screen share stoped
		session.signal({
			data: nickName, // notifying everyone that who shared
			to: [], // Broadcast to everyone
			type: 'stop-screenshare' // The type of message (optional)
		}).then(() => {
			console.log('Notified successfully sent');
		}).catch(error => {
			console.error(error);
		});
	}

	// showing notification when screen shared
	session.on('signal:start-screenshare', (event) => {
		// console.log(event.data); // Message
		var x = document.getElementById("start-share");
		x.hidden = false;
		setTimeout(function(){ x.hidden = true; }, 3000);
	});
	session.on('signal:stop-screenshare', (event) => {
		// console.log(event.data); // Message
		var x = document.getElementById("stop-share");
		x.hidden = false;
		setTimeout(function(){ x.hidden = true; }, 3000);
	});

	/** screen share logic ends **/


	document.getElementById("messengerForm").addEventListener("submit",submitFormHandler);

	function submitFormHandler(e){
		e.preventDefault();
		let text = document.getElementById("messengerForm").msg.value;
		const signal = {
			data:JSON.stringify({
				message : text,
				from : userName
			}),
			type:"chatMessage"
		}
		session.signal(signal);
		document.getElementById("messengerForm").msg.value = "";
		document.getElementById("messengerForm").msg.focus();
	}

	session.on("signal:chatMessage",(e)=>{
		putMessageInBox(JSON.parse(e.data))
	})

	function putMessageInBox(data){
		const container = createElements("div","col-12 border-dark p-2 my-1");
		const name = createElements("h4","col-12 text-center");
		name.textContent = data.from
		const message = createElements("p","col-12 text-left");
		message.textContent = data.message
		container.append(name);
		container.append(message);
		document.getElementById("messageBox").append(container);
	}
</script>

</html>
